<turbo-frame id="command_request_form_inner">
  <select class="form-select form-select-sm mb-3" onchange="document.getElementById('command_request_form_inner').src = '/devices/<%= params[:udid] %>/command_request_form_inner?command=' + this.value">
  <%
    [
      ['', 'Custom'],
      ['DeclarativeManagement', 'DeclarativeManagement'],
      ['DeviceInformation', 'DeviceInformation'],
      ['InstalledApplicationList', 'InstalledApplicationList'],
      ['ProfileList', 'ProfileList'],
      ['InstallProfile', 'InstallProfile'],
      ['RemoveProfile', 'RemoveProfile'],
      ['EnableLostMode', 'EnableLostMode'],
      ['DeviceLocation', 'DeviceLocation'],
      ['DisableLostMode', 'DisableLostMode'],
      ['EraseDevice', 'EraseDevice'],
    ].each do |value, label|
  %>
    <option value="<%= value %>" <%= value == params[:command] ? 'selected' : '' %>><%= label %></option>
  <% end %>
  </select>
  <div class="mb-3">
    <label for="input_payload" class="form-label">Payload</label>
    <textarea class="form-control" id="input_payload" name="payload" rows="10"><%=
if params[:command] == 'DeclarativeManagement'
  device = MdmDevice.find_by!(udid: params[:udid])
  declarativemanagement_device_identifier = device.serial_number

  declaration = DeclarativeManagement::Declaration.new(declarativemanagement_device_identifier)
  command = Command::DeclarativeManagement.new(tokens: declaration.tokens)
  command.request_payload.to_plist.strip
elsif params[:command] == 'EraseDevice'
  rts_wifi_profile = Rts::WifiProfile.order(:name).first
  if rts_wifi_profile
    command = Command::EraseDevice.new(
      rts_enabled: true,
      rts_wifi_profile_data: rts_wifi_profile.asset_file.read,
      rts_mdm_profile_data: rb(:'mdm.mobileconfig'),
    )
    command.request_payload.to_plist.strip
  else
    command = Command::EraseDevice.new(rts_enabled: false)
    command.request_payload.to_plist.strip
  end
elsif params[:command] && Command.const_defined?(params[:command])
  klass = Command.const_get(params[:command])
  command = klass.try(:template_new) || klass.new
  command.request_payload.to_plist.strip
else
  ''
end
    %></textarea>
  </div>
</turbo-frame>
