<%
  @mdm_devices = MdmDevice.all
  @byod_devices = ByodDevice.all

  @qr_url = URI('https://chart.googleapis.com/chart').tap do |uri|
    uri.query = URI.encode_www_form({
      cht: 'qr',
      chs: '240x240',
      chl: "#{ENV['MDM_SERVER_BASE_URL']}/mdm.mobileconfig",
    })
  end
%>

<div class="container">
  <h1>Devices</h1>
  <% if @mdm_devices.present? || @byod_devices.present? %>
  <div class="list-group">
  <% @mdm_devices.find_each do |device| %>
    <a href="/devices/<%= device.udid %>" class="list-group-item list-group-item-action">
    <%= device.serial_number %>
    </a>
  <% end %>
  <% @byod_devices.find_each do |device| %>
    <a href="/byod/devices/<%= device.enrollment_id %>" class="list-group-item list-group-item-action">
    <%= device.enrollment_id %>
    </a>
  <% end %>
  </div>
  <% else %>
  no devices
  <% end %>

  <img src="<%= @qr_url %>" />
</div>

<hr/>
<div class="container">
<a href="/public_assets">Manage public assets</a>
</div>
