<%
  @mdm_devices = MdmDevice.all
  @byod_devices = ByodDevice.all

  @qr_svg = RQRCode::QRCode.new("#{ENV['MDM_SERVER_BASE_URL']}/mdm.mobileconfig").as_svg(
    module_size: 3,
    use_path: true,
  )
%>

<div class="container">
  <h1>Devices</h1>
  <% if @mdm_devices.present? || @byod_devices.present? %>
  <div class="list-group">
  <% @mdm_devices.find_each do |device| %>
    <a href="/devices/<%= device.udid %>" class="list-group-item list-group-item-action">
    <%= device.serial_number %>
    </a>
  <% end %>
  <% @byod_devices.find_each do |device| %>
    <a href="/byod/devices/<%= device.enrollment_id %>" class="list-group-item list-group-item-action">
    <%= device.enrollment_id %>
    </a>
  <% end %>
  </div>
  <% else %>
  no devices
  <% end %>

  <%= @qr_svg %>
</div>

<hr/>
<div class="container">
misc
<ul>
  <li><a href="/ddm">Manage declarative device management resources</a></li>
  <li><a href="/rts/wifi_profiles">Manage Return to Service</a></li>
  <li><a href="/vpp">Manage Apps and Books</a></li>
</ul>
</div>
