<%
  @device = MdmDevice.find_by!(udid: params[:udid])

  @command_queue = CommandQueue.for_device(@device)
  @synchronization_request_histories = Ddm::SynchronizationRequestHistory.where(device_identifier: params[:udid]).select(:id, :endpoint, :created_at).order(id: :desc)
%>

<div class="container">
  <h1>Device - <%= @device.serial_number %></h1>

  <h2>Commands</h2>
  <form action="/devices/<%= @device.udid %>/commands" class="card p-2" method="post">
    <select class="form-select form-select-sm mb-3" id="select_template">
      <option value=''>Custom</option>
      <option value="DeclarativeManagement">DeclarativeManagement</option>
      <option value="DeviceInformation">DeviceInformation</option>
      <option value="InstalledApplicationList">InstalledApplicationList</option>
      <option value="ProfileList">ProfileList</option>
      <option value="InstallProfile">InstallProfile</option>
      <option value="RemoveProfile">RemoveProfile</option>
      <option value="EnableLostMode">EnableLostMode</option>
      <option value="DeviceLocation">DeviceLocation</option>
      <option value="DisableLostMode">DisableLostMode</option>
    </select>
    <div class="mb-3">
      <label for="input_payload" class="form-label">Payload</label>
      <textarea class="form-control" id="input_payload" name="payload" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-primary">Enqueue command</button>
  </form>

  <h2>Command Queue</h2>
  <form action="/devices/<%= @device.udid %>/push" method="post">
    <button type="submit" class="btn btn-outline-primary">Request fetching commands</button>
  </form>

  <%= erb :'devices/_command_queue.html', locals: {
    command_queue: @command_queue,
    declarativemanagement_device_identifier: @device.serial_number,
  } %>

  <h2>DeclarativeManagement Synchronization History</h2>
  <% if @synchronization_request_histories.present? %>
  <div class="list-group">
  <% @synchronization_request_histories.limit(100).reverse_each do |synchronization_request_history| %>
    <a href="/devices/<%= @device.udid %>/synchronization_request_histories/<%= synchronization_request_history.id %>" class="list-group-item list-group-item-action">
    <%= synchronization_request_history.endpoint %> - (<%= synchronization_request_history.created_at %>)
    </a>
  <% end %>
  </div>
  <% else %>
  no histories
  <% end %>
</div>
