<%
@public_asset = Ddm::PublicAsset.find(params[:id])
%>
<div class="container">
  <h2>Public assets - <%= @public_asset.name %></h2>
  <div class="list-group">
  <% @public_asset.details.each do |public_asset_detail| %>
    <a href="<%= public_asset_detail.access_url %>" class="list-group-item list-group-item-action">
    target: <%= public_asset_detail.target_identifier || '(fallback)' %>,
    file: <%= public_asset_detail.asset_file.metadata %>
    </a>
  <% end %>
  </div>

  <h3>New asset file</h3>
  <form class="card p-3" action="/ddm/public_assets/<%= @public_asset.id %>/details" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="form_name" class="form-label">Target (serial_number, group_name, or blank for all devices)</label>
      <input id="form_name" name="name" type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label for="form_asset_file" class="form-label">File</label>
      <input id="form_asset_file" name="asset_file" type="file" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
