<%
  @device = ByodDevice.find_by!(enrollment_id: params[:enrollment_id])

  @command_queue = CommandQueue.for_byod_device(@device)
%>

<div class="container">
  <h1>Device - <%= @device.enrollment_id %></h1>

  <h2>access token</h2>
  <div class="card p-2 mb-4">
  <pre><%= ERB::Util.h(JSON.pretty_generate(@device.managed_apple_account_access_token&.attributes || {})) %></pre>
  </div>

  <h2>Commands</h2>
  <form action="/byod/devices/<%= @device.enrollment_id %>/commands" class="card p-2" method="post">
    <%= erb :'byod/devices/_command_request_form_inner.html' %>
    <button type="submit" class="btn btn-outline-primary">Enqueue command</button>
  </form>

  <h2>Command Queue</h2>
  <form action="/byod/devices/<%= @device.enrollment_id %>/push" method="post">
    <button type="submit" class="btn btn-outline-primary">Request fetching commands</button>
  </form>

  <%= erb :'devices/_command_queue.html', locals: {
    command_queue: @command_queue,
  } %>
</div>
